{% capture page_title %} {% if page.title contains '.' %} {% t page.title %} {%
else %} {{ page.title }} {% endif %} {% endcapture %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page_title }} | {{ site.title }}</title>
  <meta name="description" content="{% t site.description %}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@twitter_account" />
  <meta name="twitter:creator" content="@twitter_developer" />
  <meta property="og:title" content="{{ site.title }} | {% t site.slogan %}" />
  <meta property="og:description" content="{% t site.description %}" />
  <meta property="og:url" content="{{ site.relative_url }}" />
  <meta property="og:title" content="{{ site.title }} | {% t site.slogan %}" />
  <meta property="og:description" content="{% t site.description %}" />
  <meta name="msapplication-TileColor" content="#ffe600" />
  <meta name="theme-color" content="#ffe600" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <script
    type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
  ></script>
  <style>
    body {
      margin: 0;
    }
  </style>
</head>
