@tailwind base;

@tailwind components;

$dark-color: #272727;
$dark-color-text: #9e9e9e;
$light-color: #9e9e9e;
$light-color-text: #272727;

.body {
  background: $dark-color;
  color: $dark-color-text;
}

.current {
  color: limegreen;
}

@tailwind utilities;