---
layout: default
---

<section class="bg-white pt-10 lg:py-20 xl:py-24">
    <div class="container max-w-screen-lg mx-auto">
        <header class="flex flex-col items-center text-center px-10 lg:px-0">
            <h1 class="text-4xl lg:text-5xl xl:text-6xl font-bold lg:font-extrabold tracking-tight mb-4 leading-tight">
                {{ page.title }}
            </h1>
        </header>
    </div>
</section>

<div class="post-body py-10 lg:pb-20 px-10 lg:px-0">
    <div class="container max-w-screen-lg mx-auto lg:flex lg:flex-row">
        <div class="w-full max-w-screen-md mx-auto pt-4 lg:pt-0 space-y-10">
            <div class="prose lg:prose-lg">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
